<script src="${ctxStatic}/h/js/jquery.min.js?v=2.1.4"></script>
<script src="${ctxStatic}/h/js/bootstrap.min.js?v=3.3.5"></script>
<script src="${ctxStatic}/h/js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="${ctxStatic}/h/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
<script src="${ctxStatic}/h/js/plugins/layer/layer.min.js"></script>
<script src="${ctxStatic}/h/js/hplus.min.js?v=4.0.0"></script>
<script type="text/javascript" src="${ctxStatic}/h/js/contabs.min.js"></script>
<script src="${ctxStatic}/h/js/plugins/pace/pace.min.js"></script>